/* General setting */

@font-face {
  font-family: Jost;
  src: url(/Font/Jost-Medium.ttf);
}

body {
  font-family: Jost;
}

:root {
  --red: red;
  --green: green;
  --white: white;
}

#Test {
  --h1-red: rgb(183, 130, 130);
}

#Test {
  color: var(--h1-red);
}

.one {
  color: var(--red);
  background-color: var(--green);
  font-size: 10px;
  padding: 15px;
}
.two {
  background-color: var(--red);
  font-size: 9px;
}
.three {
  background-color: var(--green);
  font-style: italic;
  padding: 15px;
}
.four {
  color: var(--green);
  border: 1px solid var(--red);
  background-color: var(--white);
}
.five {
  color: var(--red);
  background-color: var(--white);
  border-color: 2px dashed var(--green)
}

.six {
  --six-slik: yellow;
  color: var(--six-slik);
  background-color: var(--six-slik);
  color: var(--red);
  padding: 10px;
}

p {
  background-color: var(--red);
}